body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form .login {
  display: flex;
  flex-direction: column;
}

form  fieldset {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

input {
  margin: 10px;
}

.error {
  color: red;
}
