<h1>Daily Message</h1>
<p>Helping you achieve long term goals</p>
<p>one day at a time</p>

<a href="/users/newuser">create new account</a>

<form class="login" action="index.html" method="post">
  <fieldset>
    <legend>Login</legend>
    <label for="username">Username:</label>
      <input type="text" name="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="password">
    <button type="submit" name="button">Login</button>
  </fieldset>
</form>
