<h1>Daily Message</h1>
<p>Helping you achieve long term goals</p>
<p>one day at a time</p>

<a href="/newuser">create new account</a>

<form class="login" action="index.html" method="post">
  <button type="button" name="button" action="newuser">New User</button>
  <input type="text" name="name" value="username" placeholder="username">
  <input type="password" name="name" value="password">
  <button type="submit" name="button">Login</button>
</form>
